* {
  font-family: sans-serif;
}

.main {
  width: 100%;
  height: 350px;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid rgba($color: gray, $alpha: 0.2);
  cursor: pointer;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
}

.img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
}

.item-info {
  width: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.name {
  font-weight: 700;
  color: gray;
}

.description {
  font-weight: 700;
  color: gray;
}

.used-skills {
  width: 100%;
  display: flex;
  gap: 10px;
}
