* {
  margin: 0;
  scrollbar-width: none;
}

.navbar-handler {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.main {
  width: 100%;
  display: flex;
}

.user-card {
  width: 25%;
  height: 89vh;
  padding: 0 10px;
  position: sticky;
  top: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
  animation: move-right ease forwards;
  animation-duration: 1s;
}

.content {
  width: 75%;
  padding: 0 10px;
}

@keyframes move-right {
  0% {
    transform: translateX(-40px);
  }

  100% {
    transform: translateX(0);
  }
}