<div class="main">
  <div class="overview">
    <div class="content">
      <h3 class="skill-name">Other Skills</h3>
      <p class="overview-description">
        I have hands-on experience with various databases, server environments, hosting services,
        version control systems, and deployment platforms
        <i class="fa-brands fa-postgresql"></i>
      </p>
      <div class="skill-handler">
        @for (item of skills(); track $index) {
          <app-skill-card [item]="item"></app-skill-card>
        }
      </div>
    </div>
  </div>
</div>
