* {
  font-family: sans-serif;
}

.main {}

.navbar {
  width: 100%;
  position: sticky;
  top: 80px;
  display: flex;
  justify-content: space-between;
  z-index: 500;
}

.name {
  width: fit-content;
  height: 40px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid rgba($color: gray, $alpha: 0.3);
  color: gray;
  font-size: 20px;
  font-weight: 700;
  backdrop-filter: blur(20px);
  background-color: rgba($color: white, $alpha: 0.5);
}

.content {
  width: 100%;
  margin-top: 20px;
}

.image {
  width: 100%;
  height: 400px;
  object-fit: contain;

}

.thumb-nail {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.description {
  margin: 30px 0;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  line-height: 30px;
  color: gray;
}