* {
  font-family: sans-serif;
}

.main {
  width: 350px;
  min-height: 80vh;
  border-radius: 20px;
  border: 3px solid rgba($color: gray, $alpha: 0.2);
}

.img-handler {
  width: 100%;
  padding: 40px;
  padding-bottom: 0;
  border-radius: 20px;
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  transition: opacity 0.3s ease;
}

.fade {
  opacity: 0;
}

.info-handler {
  width: 100%;
  padding: 15px;
}

.name {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
}

.description {
  font-size: 20px;
  text-align: center;
  color: gray;
}

.hashtags {
  margin-top: 20px;
  text-align: center;
  font-style: italic;
  font-size: 15px;
  font-weight: 700;
  color: gray;
}