<div class="mian">
  <div class="container">
    @for (url of item()?.imageUrls; track $index) {
      <div
        class="bg-picture"
        [style.background-image]="'url(' + url + ')'"
        [style.z-index]="imageIndexes()[$index]"
        [class.fade-out]="fadingIndex() === $index"
      ></div>
    }
  </div>
  <div class="overview-container">
    <div class="overview-panel">
      <h1 class="header">{{ item()?.name }}</h1>
      <div class="description" [innerHTML]="item()?.extendedDescription"></div>
      <div class="duration">
        <p class="duration-header">Duration</p>
        <div class="duration-content">
          <h1>{{ item()?.duration?.start | date: 'MM/yyyy' }}</h1>
          <h1>{{ item()?.duration?.end }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
