.main {
  width: 100%;
}

.container {
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.bg-picture {
  position: absolute;
  inset: 0; // shorthand for top:0; left:0; right:0; bottom:0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overview-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; // above backgrounds
}

.overview-panel {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  border: 2px solid rgba($color: white, $alpha: 0.3);
  backdrop-filter: blur(20px);
  background-color: rgba($color: white, $alpha: 0.1);
}

.fade-out {
  animation: fade-out ease forwards;
  animation-duration: 1s;
}