* {
  font-family: sans-serif;
}

.main {
  width: 100%;
}

.container {
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.bg-picture {
  position: absolute;
  inset: 0; // shorthand for top:0; left:0; right:0; bottom:0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overview-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; // above backgrounds
}

.overview-panel {
  width: 700px;
  height: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  border: 3px solid rgba($color: white, $alpha: 0.3);
  backdrop-filter: blur(20px);
  color: rgb(255, 255, 255);
  background-color: rgba($color: white, $alpha: 0.3);
}

.header {
  text-align: center;
}

.description {
  font-size: 20px;
  font-weight: 100;
  line-height: 25px;
}

.duration {
  width: 100%;
  text-align: center;
}

.duration-header {
  font-size: 20px;
}

.duration-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
}



.fade-out {
  animation: fade-out 1s ease forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}