* {
  font-family: sans-serif;
}

.main {
  width: 100%;
}

.header-container {
  width: 100%;
  position: sticky;
  top: 100px;
  display: flex;
  justify-content: center;
}

.header {
  width: fit-content;
  padding: 5px 20px;
  color: var(--scarlet-red);
  border-radius: 10px;
  border: 3px solid rgba($color: gray, $alpha: 0.3);
  font-size: 25px;
  font-weight: 700;
  backdrop-filter: blur(20px);
}

.posts {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}