* {
  font-family: sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--scarlet-red);
}

.header {
  margin: 0;
  text-align: center;

}

.primary {
  font-size: 45px;
  color: white;
}

.secondary {
  color: transparent;
  font-size: 55px;
  -webkit-text-stroke: 1px white;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white;
}

.input-handler {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

label {
  font-size: 20px;
  font-weight: 100;
}

.form {
  width: 400px;
}

.submit-btn {
  width: 100%;
  height: 40px;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  border: 2px solid white;
  background-color: unset;
  cursor: pointer;
  transition: 0.1s;
}

.submit-btn:hover {
  color: var(--scarlet-red);
  background-color: white;
}