.main{
  width: 100%;
  display: flex;
}

.user-card{
  width: 33%;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: move-right ease forwards;
  animation-duration: 1s;
}

@keyframes move-right {
  0%{
    transform: translateX(-40px);
  }
  100%{
    transform: translateX(0);
  }
}