.framework-bg {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  background-image: url(../../../../../../../../public/assets/frameworks/angular.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300px;
  z-index: -2000;
}

.overview-handler {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overview-panel {
  width: 600px;
  height: 400px;
  padding: 20px;
  border: 3px solid rgba($color: gray, $alpha: 0.2);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  background-color: rgba($color: white, $alpha: 0.3);
  z-index: -1000;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.skill-name {
  text-align: center;
  font-size: 30px;
  color: var(--scarlet-red);
}

.overview-description {
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  color: gray;
}

.keys-handler {
  width: 100%;
  padding: 0px 125px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.key {
  width: auto;
  padding: 3px;
  border-radius: 10px;
  border: 2px solid gray;
  color: gray;
}

.experience {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.duration {
  font-weight: 400;
  font-size: 60px;
  text-align: center;
  color: gray;
}

.duration-description {
  font-weight: 100;
  text-align: center;
  color: gray;
}