<div class="angular-framework"></div>
<div class="angular-overview">
  <div class="overview-panel">
    <div class="content">
      <h3 class="skill-name">Angular</h3>
      <p class="overview-description">
        Angular is my primary framework. I design enterprise-grade SPAs with advanced state
        management, modular architecture, and performance optimization strategies.
      </p>
      <div class="experience">
        <div class="experience-detail">
          <h1 class="duration">{{ experienceYear() }}</h1>
          <p class="duration-description">
            YEAR OF <br />
            EXPERIENCE
          </p>
        </div>
        <div class="experience-detail">
          <h1 class="duration">{{ experienceInRealProjects() }}</h1>
          <p class="duration-description">
            YEAR EXPERIENCE <br />
            IN REAL PROJECTS
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
