* {
  font-family: sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scale-up ease forwards;
  animation-duration: 1s;
}

.main-header {
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  color: var(--scarlet-red);
}

.description {
  padding: 20px 300px;
  font-size: 20px;
  text-align: center;
  color: gray;
  text-wrap: wrap;
}

.btn-handler {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cv-btn {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid var(--scarlet-red);
  color: var(--scarlet-red);
  background-color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.cv-btn:hover {
  color: white;
  background-color: var(--scarlet-red);
}

@keyframes scale-up {
  0% {
    scale: 0.9;
  }
  100% {
    scale: 1;
  }
}
