<div class="main">
  <div class="framework-bg"></div>
  <div class="overview-handler">
    <div class="overview-panel">
      <div class="content">
        <h3 class="skill-name">.NET</h3>
        <p class="overview-description">
          I build scalable backend applications using .NET and ASP.NET Core, designing RESTful APIs,
          authentication systems, and database-driven solutions..
        </p>
        <div class="keys-handler">
          @for (key of skillKeys(); track $index) {
            <div class="key">{{ key }}</div>
          }
        </div>
        <div class="experience">
          <div class="experience-detail">
            <h1 class="duration">{{ experienceYear() }}</h1>
            <p class="duration-description">
              YEAR OF <br />
              EXPERIENCE
            </p>
          </div>
          <div class="experience-detail">
            <h1 class="duration">{{ experienceInRealProjects() }}</h1>
            <p class="duration-description">
              YEAR EXPERIENCE <br />
              IN REAL PROJECTS
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
