* {
  font-family: sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.start-text {
  font-size: 50px;
  color: var(--scarlet-red);
  cursor: pointer;
}

.name {
  font-size: 60px;
  color: var(--scarlet-red);
}

.fade-in {
  animation: fade-in forwards;
  animation-duration: 1s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

.scale-increase-and-fade-out {
  animation: scale-increase-and-fade-out forwards;
  animation-duration: 1s;
}

@keyframes scale-increase-and-fade-out {
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
    font-size: 2000px;
  }
}

.fade-out-1s {
  animation: fade-out-1s forwards;
  animation-duration: 1s;
}

.fade-out-fast {
  animation: fade-out-fast forwards;
  animation-duration: 0.3s;
}

@keyframes fade-out-fast {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0;
  }
}