* {
  font-family: sans-serif;
}

.main {
  width: 100%;
  height: 91vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.name {
  font-size: 60px;
  color: var(--scarlet-red);
}

.fade-in {
  animation: fade-in forwards;
  animation-duration: 2s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

.scale-increase {
  animation: scale-increase forwards;
  animation-duration: 1s;
}

@keyframes scale-increase {
  100% {
    font-size: 2000px;
  }
}

.fade-out {
  animation: fade-out forwards;
  animation-duration: 1s;
}

@keyframes fade-out {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0;
  }
}

.end {
  opacity: 0;
}