* {
  font-family: sans-serif;
}

.main {
  width: 100%;
  min-height: 100vh;
}

.header-handler {
  width: 100%;
  height: 200px;
  position: sticky;
  top: 85px;
  display: flex;
  justify-content: center;
}

.skills-header {
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 3px solid rgba($color: gray, $alpha: 0.2);
  font-size: 30px;
  font-weight: 700;
  color: var(--scarlet-red);
}