/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

* {
  margin: 0;
  scrollbar-width: none;
}

:root {
  --off-white: #EEEEEE;
  --scarlet-red: #c91634;

  --glass-border: 3px solid rgba($color: gray, $alpha: 0.2);
}

@keyframes scale-up {
  0% {
    scale: 0.9;
  }

  100% {
    scale: 1;
  }
}